<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MpcWalletApp"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name=".WalletHomeActivity"
            android:exported="false" />
        <activity
            android:name=".RestoreWalletActivity"
            android:exported="false" />
        <activity
            android:name=".JoinWalletActivity"
            android:exported="false" />
        <activity
            android:name=".CreateWalletActivity"
            android:exported="false" />
        <activity
            android:name=".WalletOnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ScanSessionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
